@font-face{
  font-family: 'JetBrains Mono';
  src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/eot/JetBrainsMono-Regular.eot') format('embedded-opentype'),
       url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff/JetBrainsMono-Regular.woff') format('woff'),
       url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'JetBrains Mono';
}

.blink {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

.blink-green {
  -webkit-animation: 1.25s blink-green linear infinite;
  -moz-animation: 1.25s blink-green linear infinite;
  -ms-animation: 1.25s blink-green linear infinite;
  -o-animation: 1.25s blink-green linear infinite;
  animation: 1.25s blink-green linear infinite;
}

@keyframes blink-green {
  from, to {
    color: transparent;
  }
  50% {
    color: limegreen;
  }
}

@-moz-keyframes blink-green {
  from, to {
    color: transparent;
  }
  50% {
    color: limegreen;
  }
}

@-webkit-keyframes blink-green {
  from, to {
    color: transparent;
  }
  50% {
    color: limegreen;
  }
}

@-ms-keyframes blink-green {
  from, to {
    color: transparent;
  }
  50% {
    color: limegreen;
  }
}

@-o-keyframes blink-green {
  from, to {
    color: transparent;
  }
  50% {
    color: limegreen;
  }
}